<footer>
    <p>Todos os direitos reservados para <a target="_blank" href="http://github.com/ViniOM">Vinicios Gabriel</a> &copy;</p>
    <p>Dados retirados desse site  <a target="_blank" href="https://www.leagueoflegends.com/pt-br/champions/">League of Legends</a></p>
</footer>