<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABWElEQVRYhe3WsUpcQRTG8Z9CNqhklyAIIqYQUlj4BMYileAL2KXaBS2tTchjpE9hk8JCsLK0s5CIWCRa2IkJgkZCql0L57Iid8md2ZEt3A+Gw9wz53x/Zk5xGWqo3tpEp8J6MtVwMkgAeI82/mLuUe4xwDc08So3xNdgtPsfgGJ/hY94kQtgqsSsDKCJvQffD/AmF0QVgEJL+BlyZ/1AvEwEgDr2dW8i6Tk+9wEADfwIZz7Fmr/GTZ8A8E53MOsxAGvKJzwWgO5gtsqSoz2KVio0rqqtEJdjis7lu4G34dxpDMC/jADj4dxtWbLXE7QrNK6qwmMkBuAyI8BMiL9iAI4yAiyGeBhTtC7fDCSpgd+DBICNigAxa0uEaiFOZwI4xkQMQKHt0GAnobYVav9gPsV8NTS4xmxk7YL7X7kOPqSYT+JC2ls/XF9SzLkfmH7Nv2MsFWCo56E7OiO2wNX9VdQAAAAASUVORK5CYII=" rel="icon" type="image/x-icon"/>
<title>Campeoes</title>