<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAsIBMAJjd6wD///8AJQD6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREQAAEQAAABEBEBEBAAAAAAAAEQAAAAAAAAAAEAAAAAAiIgAQAAAAAiIgIgAAAAACAiAiAAAAAAICIAAAAAAABEQAAAAAAANENEREAAAAADNERERAAAAABEREREAAAAAAREREAAAAAAAAAAAAAAAAAAAAAAAADx5wAA4AMAAMADAADgBwAA+AcAAPAHAADgDwAA4AcAAOADAADAAwAAgAMAAMAHAADgBwAA8A8AAPgfAAD//wAA" rel="icon" type="image/x-icon" />
<title>Campeoes</title>