  <nav id="navMain">
     
        <ul>
            
            <li> 
                <img class="imagemcard" src="https://pbs.twimg.com/profile_images/1235032341761929216/pB-kfUOr_400x400.jpg" alt=""> 
            </li> 
            
            <li>
                <a href="/signup"> Cadastro</a>
            </li>

            <li>
                <a href="/"> Campeoes</a>
            </li>
        </ul>
    </nav>