<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAsIBMAJjd6wD///8AJQD6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREQAAEQAAABEBEBEBAAAAAAAAEQAAAAAAAAAAEAAAAAAiIgAQAAAAAiIgIgAAAAACAiAiAAAAAAICIAAAAAAABEQAAAAAAANENEREAAAAADNERERAAAAABEREREAAAAAAREREAAAAAAAAAAAAAAAAAAAAAAAADx5wAA4AMAAMADAADgBwAA+AcAAPAHAADgDwAA4AcAAOADAADAAwAAgAMAAMAHAADgBwAA8A8AAPgfAAD//wAA" rel="icon" type="image/x-icon" />
    <title>Cadastro</title>
</head>
<body>
    <%- include('./components/nav') %>

    
    
    <section id='cadastro'>
        <video autoplay loop muted src="https://www.leagueoflegends.com/static/hero-0632cbf2872c5cc0dffa93d2ae8a29e8.webm" width="200px"></video>


        <form class="formulario" action="/create" method="POST">

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome">

            <label for="nome">Imagem:</label>
            <input type="text" id="imagemcard" name="imagemcard">

            <label for="nome">Descricao:</label>
            <input type="text" id="descricao" name="descricao">
            
            <label for="nome">Função:</label>
            <input type="text" id="funcao" name="funcao">

            <label for="nome">Dificuldade:</label>
            <input type="text" id="dificuldade" name="dificuldade">
        
            <button id="btnCadastrar" type="submit">Cadastrar</button>
        </form>


    </section>

    <%- include('./components/footer') %>
    
</body>
</html>