
* {
    margin: 0;
    padding: 0;
    font-family: 'Pokemon Solid', sans-serif;
} 

#navMain {
    background-color: #D13739;
    width: 100%;
    display: flex;
}

#navMain img.imagemcard {
    width: 70px;
    flex-direction: column;
}


nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    padding: 0.6rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}



main {
    margin: 0 10rem 0 10rem;
    margin-top: 2rem;
}
a{
    text-decoration: none;
}

main section#cards {
    display: flex;
    justify-content: space-evenly;
}

section#cards div.card {
    width: 10rem;
    padding: 1rem;
}

section#cards div.card:hover {
    transform: scale(1.5,1.5);
    
}
section#cards div.card img {
    width: 100%;

}

section#cards div.card h3 {
    text-align:center;

}

.content {
    display: none;
}

#card:hover .content{
    display: block;
}
/* Pagina de CADASTRO */

section#cadastro {
    display: flex;
    justify-content: center;
    flex: wrap;
    padding: 2rem;  
}

section#cadastro video {
    width: 50%;
    padding-right: 1rem;
}

h2 {
    padding-top: 5rem;
    width: 100%;
    text-align:center;
}

section#cadastro form input {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    outline: none;
    border: solid 1px rgb(189, 185, 185);
}

section#cadastro form button {
    padding: .6rem;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    cursor: pointer;
    margin-top: 1rem;
}
/* FOOTER */

footer {
    background-color: #D13739;
    width: 100%;
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    color: #fff;
}
footer a {
    text-decoration: none;
    text-decoration-color: #fff;
}
